@charset "UTF-8";




h1{
    background-color:#00457C;
    color: rgb(255, 255, 255);

    text-align: center;
    padding: 5px;
    width:  1001px;
    height: 35px;
    margin:auto;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 5px 5px 5px #0000005b;
    text-align: center;
    
    
}
body{
    color: #006634;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    
    
    
    

}

    

#aa{
   
    background-color: #3a7c85;
    font-size: 18px ;
    padding: 20px;
    margin: 0px -5px;
    width: 300px;
    height: 429px;
    display: inline-grid;
    border-radius:0px 0px 8px 8px;
    box-shadow: 5px 5px 5px #0000005b;


    }
#aa > h2 {
    color: rgb(11, 5, 61);
    font-size: 20px;
    font-weight: 800;
    
    
}


div > p{
    margin: 10px;

}
a{
    
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin: 5px;
    
}

a:hover{
    color: #000000;
    transition-delay: 0.1s;
    transition: 200ms linear;
}

h2{
    color: #00457C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#img2{
    margin: auto;
    width: 277px;
    height: 97px;
    margin-top: 1px;
    margin-bottom: 0px
}
#img1{
    
    width: 277px;
    height: 97px;
    margin-top: -87px;
    margin-left: -595px;
}
#p1{
    color: blueviolet;
    text-decoration: none;
    margin-top: -51px;
    margin-right: -267px;
}
#img1>a>p:hover{
    color: rgb(2, 55, 80);
    transition-delay: 0.1s;
}
#P2{
    color: blueviolet;
    text-decoration: none;
    margin-top: -19px;
    margin-right: -278px;
}
#P2:hover{
    color: rgb(2, 55, 80);
    transition-delay: 0.1s;
#a{
    color: #000000;
    text-align: right;
    margin: 0%;
}
